.container-presupuesto {
	width: 29rem;
}

.presupuesto {
	background-color: var(--kind-pink);
	margin-top: 3rem;
	min-height: 10rem;
	/* background-image: url('./img/flower-background.jpg');
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat; */
	margin-top: 1rem;
}

.logo-presupuesto {
	width: 8.1rem;
	height: 6.9rem;
	background-image: url('./logo-empresa-transp.png');
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
	margin-top: 1rem;
}

.presupuesto p {
	font-family: 'Dancing Script', cursive;
	font-size: var(--lg);
	font-weight: bold;
}

.tabla-prespuesto, .tabla-prespuesto th, .tabla-prespuesto td {
	border: 0.2rem solid var(--dark-pink);
}

.fila-cabecera-prespuesto {
	height: 3rem;
	font-family: 'Dancing Script', cursive;
	font-size: var(--lg);
	/* font-weight: bold; */
	background-color: var(--medium-blue);
	color: var(--white);
}

.fila-cabecera-prespuesto th:first-child {
	width: 22rem;
}

.fila-cabecera-prespuesto th:nth-child(2) {
	width: 6rem;
}

#cuerpo_tabla_prespuesto tr {
	height: 3rem;
}

#cuerpo_tabla_prespuesto td:nth-child(2){
	text-align: center;
}

.parrafo-boton-comentario {
	margin: 0 0.4rem;
	text-align: center;
}

#desplegar_comentario {
	border: none;
	width: 25rem;
	height: 0.5rem;
	background-color: var(--medium-blue);
	border-radius: 0.5rem;
}

.parrafo-comentario {
	margin: 0 0.4rem;
}

.parrafo-comentario #comentario {
	max-width: 28.2rem;
	min-width: 28.2rem;
	font-size: var(--ss);
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0.5rem;
}

#precio_final_manual {
	margin-top: 0.5rem;
	width: 6rem;
	text-align: center;
}

.parrafo-precio-manual {
	margin-bottom: 1rem;
	text-align: center;
}

.parrafo-fecha {
	text-align: center;
}

.parrafo-fecha input {
	text-align: center;
	background-color: var(--kind-pink);
}

#dia, #mes {
	width: 3rem;
	height: 2rem;
}

#ano {
	width: 4rem;
	height: 2rem;
}

.parrafo-hora {
	text-align: center;
}

.parrafo-hora input {
	text-align: center;
	background-color: var(--kind-pink);
}

#hora, #minuto {
	width: 2rem;
	height: 2rem;
}

#am_pm {
	width: 4rem;
	height: 2rem;
	text-align: left;
	background-color: var(--kind-pink);
	border: none;
	/* -webkit-appearance: none;
    -moz-appearance: none; */
	appearance: none;
	font-family: 'Roboto Condensed', sans-serif;
}

@media (min-width: 1024px) {
    #ano {
        width: 5rem;
        height: 2rem;
    }
    
    #hora, #minuto {
        width: 3rem;
        height: 2rem;
    }
}